<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Registration Form Template | PrepBootstrap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css" />

    <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
<div class="page-header">
    <h1>Registration Form <small>Bootsrap Registration Form</small></h1>
</div>

<!-- Registration Form - START -->
 <div class="container" id="container1">
        <div class="row centered-form">
            <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">Please Register</h3>
                    </div>

                    <div class="panel-body">
                        <form role="form">
                            <div class="form-group"><input type="text" name="company_name" id="company_name" class="form-control input-sm" placeholder="Företag Namn:"></div>
                            <div class="form-group"><input type="text" name="company_address" id="company_address" class="form-control input-sm" placeholder="Företag Adress:"></div>
							<div class="form-group"><input type="email" name="company_email" id="company_email" class="form-control input-sm" placeholder="Företag Email"></div>
							<div class="form-group"><input type="text" name="link_to_website" id="link_to_website" class="form-control input-sm" placeholder="Länk Till Webbsida"></div>
                            <div class="form-group"><input type="text" name="short_description" id="short_description" class="form-control input-sm" placeholder="Kort Beskrivning"></div>
                            <div class="form-group"><input type="text" name="contact_person_name" id="contact_person_name" class="form-control input-sm" placeholder="Kontaktperson Namn"></div>
							<div class="form-group"><input type="email" name="contact_person_email" id="contact_person_email" class="form-control input-sm" placeholder="Kontaktperson Email"></div>

                            <div class="row">
                            	<div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="password" name="password" id="password" class="form-control input-sm" placeholder="Password">
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-sm" placeholder="Confirm Password">
                                    </div>
                                </div>
                            </div>

                            <input type="submit" value="Register" class="btn btn-info btn-block">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

<style>
#container1 {
    background-color: #e2dada;
}

.centered-form {
    margin-top: 120px;
    margin-bottom: 120px;
}

.centered-form .panel {
    background: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}
</style>
<!-- Registration Form - END -->

</div>

</body>
</html>