.profile-img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          
}

.edit-anchor{
  font-size: 30px;
}

#profile-description {
	min-height: 160px;
}

hr {
	margin: 40px 0;
}