.error-alert{
    position: fixed;
    right: 50px;
    top: 50px;
    margin-right: 10px;
}

.navbar {
	margin-bottom: 0px; 
}

.jumbotron {
    margin-top: 20px;
}

.profile-img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          
}

#profile-description {
	min-height: 160px;
}

hr {
	margin: 40px 0;
}

.img-centered {
    margin: 0 auto;
}

.status-block{
    padding: 6px 12px;
    border-radius: 4px;
    display: inline-block;
}

.status-default{
    color: #FFF;
    background-color: #333;  
    border: 1px solid #ccc;
}

.status-success{
    color: #FFF;
    background-color: #5cb85c;  
    border: 1px solid #398439;
}

.status-danger{
    color: #FFF;
    background-color: #c9302c;  
    border: 1px solid #d43f3a;
}
tr {    height: 51px;}td {    vertical-align: middle !important;}
/* Startpage css */
.btn-xl {
    padding: 20px 40px;
    border-color: #fed136;
    border-radius: 60px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #fed136;}

.btn-xl:hover {
	color: #fff;	text-decoration: none;
}

.tag{
    margin-bottom: 0.5em;
}
header {
    text-align: center;
    height: 100%;
    color: #fff;
    background-attachment: scroll;
    background-image: url(../../images/header.jpg);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    
}

header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
}

header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
}

header .intro-text .intro-heading {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
}

@media(min-width:768px) {
    header .intro-text {
        padding-top: 300px;
        padding-bottom: 200px;
    }

    header .intro-text .intro-lead-in {
        margin-bottom: 25px;
        font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
    }

    header .intro-text .intro-heading {
        margin-bottom: 50px;
        text-transform: uppercase;
        font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
    }
}

section {
    padding: 100px 0;
}

section h2.section-heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 40px;
}

section h3.section-subheading {
    margin-bottom: 75px;
    text-transform: none;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}


section#login {
	background: #f1f1f1;
}

/* Footer Section */footer {	margin-top: 20px;
    padding: 25px 0;
    text-align: center;
    background: #777;
}

footer span.copyright {
    text-transform: uppercase;
    text-transform: none;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px;    color: #fff;
}